body{
background:#0f172a;
color:white;
font-family:Arial,sans-serif;
margin:0;
padding:0;
}

html{
scroll-behavior:smooth;
}

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
height:70px;
background:rgba(0,0,0,0.85);
display:flex;
justify-content:space-between;
align-items:center;
padding:0 30px;
box-sizing:border-box;
z-index:1000;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
margin:0;
padding:0;
}

.nav-links li{
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:bold;
}

.nav-links a:hover

.hero{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-top:70px;
}

h1{
font-size:4rem;
color:#ff69b4;
}

.poem{
font-size:22px;
line-height:40px;
}

section{
padding:80px 20px;
}

.timeline{
max-width:1000px;
margin:auto;
}

.card{
background:#1e293b;
margin:20px auto;
padding:20px;
border-radius:15px;
max-width:800px;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery-grid img{
width:100%;
height:300px;
object-fit:cover;
border-radius:15px;
transition:.3s;
}

.gallery-grid img:hover{
transform:scale(1.05);
}
.gallery-grid img:hover{
    transform:scale(1.05);
}

/* INGA IRUNDHU KEELA PASTE PANNU */

#bg-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}

body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    z-index:-1;
}
